<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Twitch Dash</title>
    <link rel="stylesheet" href="/view/nodecg-dashboard/view.css">
    <script src="/view/nodecg-dashboard/jquery.min.js"></script>
    <!--<script src='/view/nodecg-now-playing-spotify/jquery.transit.min.js'/></script>-->
    <!--<script src = '/view/nodecg-now-playing-spotify/jquery.marquee.min.js' /></script>-->
    <script src="/view/nodecg-dashboard/countUp.min.js"></script>
    <script src="/view/nodecg-dashboard/view.js"></script>
</head>
<body>

<div id="container">
    <div id="stats">
        <div id="viewers" class="col33">
            <svg height="24px" version="1.1" viewBox="0 0 16 16" width="24px" x="0px" y="0px">
                <path id="icon-viewers" d="M11,14H5H2v-1l3-3h2L5,8V2h6v6l-2,2h2l3,3v1H11z"></path>
            </svg>
            <span id="viewer-count">0</span>
        </div>
        <div id="followers" class="col33">
            <svg height="24px" version="1.1" viewBox="0 0 16 16" width="32px" x="0px" y="0px">
                <path id="icon-followers" d="M8,13.5L1.5,7V4l2-2h3L8,3.5L9.5,2h3l2,2v3L8,13.5z">
                </path>
            </svg>
            <span id="follower-count">0</span>
        </div>
    </div>
</div>

</body>


</html>